.navbar{
    background-color: #242233;
}

.navbar-brand, .nav-link{
    color: #fff;
    transition: 0.3 s;
}

.nav-link:hover, .navbar-brand:hover{
    color:#EC6211;
}
.card-img-top {
    width: 100%;
    height: 18rem;
    object-fit: contain;
}
.card{
    flex: 1;
}

.card-price{
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    color: #EC6211;
}

.card-link{
    text-decoration: none;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.modal-text p{
    font-weight: bold;
}

.modal-text span{
    font-weight: normal;
    float: right;
}

.btn-outline-dark{
    transition: 0.5s ease-in-out;
}

.btn-outline-dark:hover{
    border: none;
    background-color: #EC6211;
    color: #fff;
}

.modal-title{
    color: #EC6211;
}

.btn-secondary{
    background-color: #EC6211;
    border: none;
}

