@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.navbar, footer{
    background-color: #242233;
}

.orange-hover{
    color: #fff;
    transition: 0.3s;
}

.btn-saibamais{
    background-color: #EC6211;
    border: none;
}

.btn-saibamais:hover{
    background-color: #ec6111c4;
    border: none;
}

.orange-hover:hover{
    color:#EC6211;
}

.card-price{
    font-size: 1.5rem;
    font-weight: bold;
    color: #EC6211;
}

.card-link{
    text-decoration: none;
}

.modal-text p{
    font-weight: bold;
}

.modal-text span{
    font-weight: normal;
    float: right;
}

.btn-outline-warning{
    border-color: #EC6211;
    color: #EC6211;
}

.btn-outline-warning:hover{
    background-color: #ec7430;
    color: black;
}

.modal-title{
    color: #EC6211;
}

.btn-fechar{
    background-color: #EC6211;
    border: none;
}

.accordion-button:not(.collapsed){
    background-color: #EC6211;
    color: #fff;
}

.card-img{
    padding: 5px;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carrinhoItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemCompra{
    display: flex;
    justify-content: space-between;
}